.box {
    width: 100px;
    height: 100px;
    background-color: beige;
    border: 1px solid darkgray;
}

#grandparent {
    border: 1px solid darkgray;
    margin: 20px;
    position: relative;

}

#parent {
    border: 1px solid darkgray;
    background-color: white;
    position: relative;

    left: 0;
    top: 0;

}

#child {

    position: absolute;

    top: 10px;
    left: 10px;
    z-index: -1;
}
