@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700;800;900&display=swap');



html, body{
    
    color:  #222529;
    font-family: 'Poppins', sans-serif;
    font-weight: 400;
    font-size: 16px;
}

a{
    color: #FF7373;
    text-decoration: none;
}
a:hover {
    font-size: 1.3em;
    /* font-weight: 700; */
    text-decoration: underline;
}

.link-circle {
    background-color: #ffffff;
    color: #222529;
    width: 36px;
    height: 36px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    box-shadow: 0 0 5px 4px rgba(0, 0, 0, 0.1);

}

.link-circle:hover{
    background-color: #222529;
    color: #ffffff;
    text-decoration: none;
}
/* 
pt = , px = pixlar, 
rem = root 1 rem = 16 pixlar,
 em = baseras på förälders storlek
*/

#header {
    padding-top: 10px;
    padding-bottom: 10px;
    /* background-color: lightgrey; */
}




#header .container {
    display: flex;
    justify-content: space-between;

    /* margin-top: 10px;
    margin-bottom: 10px; */

}

#header .container .logotype {
   font-size: 35px;
   font-weight: 700;
}

#header .container .menu {
    font-weight: 500;
}

#header .container .menu a{
    color: #222529;
    margin: 0 15px;
}

#header .container .menu a:hover,
#header .container .menu .active
{
    color: #FF7373;
    text-decoration: none;
}



#header .container .menu-icons{
    display: flex;
}
#header .container .menu-icons .link-circle{
margin-left: 10px;
}
#header .container .menu-icons .title {
font-size: 2.5em;
}
#header .container .menu-icons .subtitle {
font-size: 0.5em;
}
