@import './cores/colors';

@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700;900&display=swap");

html,body {
    font-family: "Poppins", sans-serif;
}

@import './cores/buttons';
@import './sections/header';