body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.box {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100px;
    width: 100px;
    border: 1px solid lightgray;
    background-color: bisque;
    transition: all 1s;
    transition-timing-function:cubic-bezier(.56,.89,.85,.02);
    border-radius: 50%;
}
.box:hover {
    background-color: black;
    color: white;
    transform: rotate(360deg);   
}