/* RESPONISV DESIGN ÄNVÄNDER MAN GRID*/

/* #div-1 {
    /* padding-left: 16px; */
    /* margin-left: 16px;
}  */


/* #div-1 {
    flex: 1;
}
#div-2 {
    flex: 1;
}
#div-3 {
    flex: 1;
}

.grid{
/* display: grid; */
/* display: block; */
/* display: flex;
grid-template-areas:  "co1";
margin-left: 16px;
padding-right: 16px; */
/* } */

/* @media (min-width: 786px){
    .grid{
        grid-template-areas: "col1 col2";
        display: flex;
        justify-content: space-between;
        flex-direction: column;
        /* display: flex;
        justify-content: space-between; */
    /* }
} */

/* @media (min-width: 992){
    .grid{
        grid-template-areas: "col1 col2 col3";
    }
}   */


.logo {grid-area: logo;}
.menu-icon {grid-area: button; text-align: right;}
.menu {grid-area: menu;}

.mainmenu {
    display: grid;
    grid-template-areas:  "logo button"
                          "menu menu";
}
@media(min-width: 992px){
    .mainmenu{
        grid-template-areas: "logo menu";
    }
    .menu-icon{
        display: none;
    }
    .menu{
        text-align: right;
    }
}




