.box {
    width: 100px;
    height: 100px;
    background-color: beige;
    border: 1px solid darkgrey;
    display: flex;
    justify-content: center;
    align-items: center;
}

#grandparent {
    border: 1px solid darkgrey;
    margin: 20px;

}

#parent{
    border: 1px solid darkgrey;
    background-color: #ffffff;
    margin: 20px;
    position: absolute;
    /* position: relative; */
    top: 0px;
    left: 0px;
    right: 0px;
    bottom: 0px;
}

#child {
    position: static;
    position: relative;
    position: absolute;

    top: 10px;
    left: 10px;
    z-index: 1;
}