.box {
    border: 1px solid lightgray;
    padding: 1rem;
    display: flex;
    justify-content: center;
    align-items: center;
}
/* mobil */
.grid {
    display: grid;
    grid-template-columns: 1fr;

}

/* tablet (720px)*/
@media (min-width: 768px){
    .grid{
        grid-template-columns: 1fr 1fr;
        }
    }
    /* large screen (4:3 800p)*/
    @media (min-width: 992px){
        .grid{
            grid-template-columns: 1fr 1fr 1fr;
            }
        }

  /* desktop - wide screens (1080px) */
        @media (min-width: 1200px){
            .grid{
                grid-template-columns: 1fr 1fr 1fr 1fr;
                }
            }





