/* 
* {
    box-sizing: border-box;
}

html, body {
    margin: 0;
}

/* #div1 {
    width: 100px;
    height: 50px;
    background-color: aqua;
}

#div2 {
    width: 100px;
    height: 50px;
    background-color: aqua;
    border: 4px solid black;
} */

/* .center-screen {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.vh-100 {
    height: 100vh;
}

/* .display-flex {
    display: flex;
}
.d-flex {
    display: flex;
} */ 
.box {
    border: 1px solid lightgray;
    text-align: center;
}
#parent {
    display: flex;

    flex-direction: row;
    justify-content: flex-start;
}
#child-1 {
    flex: 1;
    display: flex;
    justify-content: center;
align-items: center;
    padding: 10px;
    /* order: 2; */
    /* text-align: center; */
    /* display: none; */
}

#child-2 {
    /* flex: 1;
    order: 1; */
    display: none;
    padding: 10px;
    
}
@media (min-width: 820px){
#child-1{
justify-content: flex-end;
align-items: center;
}

    #child-2{
        display: flex;
        flex: 2;
        text-align: flex-end;
        align-items: center;

    }
}


#child-3 {
    flex: 1;
display: none;
justify-content: center;

    display: none;
}

@media (min-width: 992px) {
    #child-1 {
        order: 2;
        flex: 2;
        justify-content: center;
    }
    #child-2 {
        order: 3;
        flex: 1;
    }
    #child-3 {
        display: flex;
        order: 1;
        flex: 1;
}
}
