.logo { grid-area: logo; }
.menu-icon { grid-area: button; text-align: right; }
.menu { grid-area: menu; }

.mainmenu {
   display: grid;
   grid-template-areas: "logo button"
                        "menu menu"; 
}

@media (min-width: 992px) {
    .mainmenu {
        grid-template-areas: "logo menu";
    }
    .menu-icon {
        display: none;
    }
    .menu {
        text-align: right;
    }
}